body{
	margin: 0;
	padding: 0;
	background-color: #3AB6E6;
}

a{
	text-decoration: none;
	color: inherit;
}


.flex{
	display: flex;
	width: 100%;
	min-height: 679px;
}
.satu{
	width: 60%;
	margin: 0 auto;
	background-color: white;
}

.dua{
  text-align: center;
  padding: 20px;
  font-family: arial; text-transform: uppercase; font-size: 1em; color: #3AB6E6; font-style: bold;
  background-color: #f1f1f1;
}

.tiga{
	font-family: arial;
	text-align: center;
	text-transform: bold;

}

ul.navi{
	list-style-type: none;
	display: flex;
	justify-content: center;
	background-color: rgb(44, 59, 75);
	margin: 0 0 15px 0;
	padding: 0;
	color: #fff;
}

ul.navi>li>a,
ul.left>li>a {
  display: block;
  padding: 8px;
  background-color: rgb(44, 59, 75);
}


ul.navi>li>a:hover{
	background-color: #3AB6E6;
}


.empat{
	width: 20%;
	padding: 10px;
	font-family: arial ;
}

a{

}

.left{
	list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}


.empat li {
  display: block;
  color: #fff;
  background-color: rgb(44, 59, 75);
  text-decoration: none;
  text-transform: bold;
}

.empat li a:hover{
	background-color: #3AB6E6;
  color: white;
}

.empat audio {
	width: 100%;
}
.list{
	
    margin: 0;
    padding: 0;
    text-align: center;

}

.lima{
	width: 60%;
	font-family: arial;
}

.lima.flex{
	flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  margin: 0 auto 20px auto;
 }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}



.enam{
	width: 20%;
	font-family: arial;

	
}

.me {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  margin: 0 auto 20px auto;
 }

.sosmed{
	display: flex;
	justify-content: center;
}

 i{
	font-size: 25px;
	color: blue;
	padding: 5px;
}

.fa-linkedin{
	color: #0072b1;
}

.fa-instagram{
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.fa-facebook-square{
	color: #3b5998;
}

.fa-telegram-plane{
	color: #0088cc;
}

.fa-whatsapp{
	color: rgb(37,211,102);
}


.tujuh{
	display: block;
	text-align: center;
	background-color: rgb(44, 59, 75);
	padding: 10px;
}

.footer{
	margin:10px 0;
	font-family: aclonica; text-transform: uppercase; font-size: 1.7em; color: #fff;
}

.footer2{
 color: #B1BBBE; text-transform: capitalize;	
 margin: 0;
}

